body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #e94560;
    text-align: center;
}

.input-section {
    margin-bottom: 20px;
    text-align: center;
}

.input-section input[type="text"] {
    width: 60%;
    padding: 12px;
    font-size: 1em;
    border: 2px solid #e94560;
    border-radius: 30px;
    background-color: #e7ecef;
    color: #0f3460;
    transition: all 0.3s ease;
}

.input-section input[type="text"]::placeholder {
    color: #a5a5a5;
}

.input-section input[type="text"]:focus {
    outline: none;
    border-color: #00adb5;
}

.input-section button {
    padding: 12px 25px;
    font-size: 1em;
    color: #ffffff;
    background-color: #e94560;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-section button:hover {
    background-color: #00adb5;
}

.input-section button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-section, .transcription-section {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    box-sizing: border-box;
}

.transcription-section {
    background: #e7ecef;
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
    height: 300px; /* Adjust as needed */
}

#transcription {
    color: #0f3460;
}

video, audio {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    /* background-color: #000; */
}

.hidden {
    display: none;
}

.error-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
}
